/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.base-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.user_name {
  width: 100% !important;
}

.btn {
  white-space: nowrap;
}