<div class="text-center">
  <%= link_to "ユーザー", "/users", class:"btn btn-outline-primary" %>
  <%= link_to "メッセージ", "/messages", class:"btn btn-outline-primary" %>
  <%= link_to "タスク", "/tasks", class:"btn btn-outline-primary" %>
</div>
<hr>
